* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 18px;
}

:root {
    --sun-color: #E5D31C;
    --link-color: #511CE6;
    --link-hover-color: #290099;
    --main-text-color: #FFFFFF;
    --yellow-color: #FFEE38;
    --dark-text: #14004D;
    --color-5: #CCBF2D;

    --main-font: 'Raleway', sans-serif;
    --title-font: 'Lexend Deca', sans-serif;

    --white-space: 1rem;
}

header {
  display: block;
    position: absolute;
}

#logo {
    padding-left: 1rem;
    max-height: 30vh;
    margin-top: -5px;

}
/*NAVIGATION*/
.top-nav-container {
    z-index: 1;
    padding-right: 1rem;
    background-color: transparent;
    font-family: var(--title-font);
    max-height: auto;
    width: 100vw;
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.top-nav-container:hover {
    width: 100vw;
    max-height: auto;
    background-color: rgba(0, 0, 0, .2);
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;


}
.top-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem;

    -webkit-box-align: stretch;

    -ms-flex-align: stretch;

    align-items: stretch;
}

.top-nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;

}

.top-nav-list li {
    padding: 1em;
    place-self: flex-end;
    color: #FFFFFF;
}
.top-nav-list li:hover {
    padding: 1em;
    place-self: center;
    color: #FFFFFF;
    background-color: var(--dark-text);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}






.hero-video-container {
     z-index: -1;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.hero-video-video {
     z-index: -1;
    width: 100vw;
    height: 100vh;
}

.hero-video-video video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-video-text h3 {
    color: var(--main-text-color);
    padding: 2rem;
    font-size: 3rem;
    text-align: right;
}

.hero-video-text {
-ms-flex-item-align: center;
align-self: center;
}


h1 {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;

}

h2 {
    text-transform: uppercase;
    text-align: center;

}

h3 {
    position: absolute;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin: 1rem 5rem;
}




#country {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 1rem 2rem;
    margin: 1rem 0;
    height: 25rem;
    background-image: url(krabi.jpg);
    /*
    height: 25rem;
    width: 13rem;
    background-image: url(krabi.jpg);
*/
    /*mynd*/
}

#course {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 1rem 2rem;
    margin: 1rem 0;
    height: 17rem;
    background-image: url(srilanka.jpg)
}

footer {
    background-color: dimgray;
}

.footer {
    padding: 10px;

    width: 100%;
    margin: auto;
    text-align: center;


}

.copyright {
    background-color: #fff;
    color: #333;
    font-size: 12px;
    line-height: 80px;
    text-align: center;
}

.footer-logo {
    text-align: center;
    margin: 30px auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* @media screen and (min-width: 700px) {

    section {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}

@media screen and (min-width: 900px) {
    ul {
        -ms-flex-pack: distribute;
        justify-content: space-around;

    }

    nav a {
        padding: 0 50px;
    }

}
 */
